app/metlink/historical
app/metlink/new
app/auckland_transport/
app/metro/historical
app/auckland_transport/sql_data
app/metlink/ptbis_passenger_boardings_20190301_to_20190331.csv
app/data/db
app/out.json
app/hst.json
app/hst_trp.json

app/static/data/GTFS_DATA.js
app/static/data/HISTORICAL_DATA.js
app/config.json
app/__pychache__
app/metlink/ptbis_passenger_boardings_20190301_to_20190331.zip

database/data/

app/metro/

.env