metlink/historical
metlink/new
auckland_transport/
metro/historical
auckland_transport/sql_data
metlink/ptbis_passenger_boardings_20190301_to_20190331.csv
data/db
out.json
hst.json
hst_trp.json

static/data/GTFS_DATA.js
static/data/HISTORICAL_DATA.js
config.json
__pychache__
metlink/ptbis_passenger_boardings_20190301_to_20190331.zip

database/data/

metro/

.env