[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
geopy = "*"
flask-socketio = "*"
flask-cors = "*"
flask = "*"
pymongo = "*"
pytz = "*"
apscheduler = "*"
pandas = "*"
partridge = "*"

[dev-packages]

[requires]
python_version = "3.8"
