.switch-field {
  display: flex;
  flex: 1;
	margin: 4px 2px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  overflow: hidden;
  flex: 1;
	height: 2.2em;
	min-width: 3em;
	float: left;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 5px;
  background: rgba(0,0,0,0.05);
  color: rgba(0,0,0,0.5);
  border: 2px solid rgba(0,0,0,0.3);
  border-left: none;
  /* box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.05); */
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
  -webkit-box-shadow: none;
  box-shadow: inset 0px -1px 2px rgba(0,0,0,0.05),
              inset 2px 0px 0px rgba(0,0,0,0.3);
	background: rgb(117, 33, 174);
  COLOR: rgba(255,255,255,0.9);
}

.switch-field label:first-of-type {
  border-radius: 1.1em 0em 0em 1.1em;
  border-left: 2px solid rgba(0,0,0,0.3);
}

.switch-field label:last-of-type {
  border-radius: 0em 1.1em 1.1em 0em;
}
