

.toggle-btn {
    text-align: initial;
    --bg-color: rgba(138, 74, 152);
    --width: 38px;
    --height: 22px;
    --button-dmt: 20px;

    --border-size: 2px;

    --button-padd: calc((var(--height) - var(--button-dmt))/2);
    
    position: relative;
    border-radius: 40px;
    margin: 2px;
    width: var(--width);
    height: var(--height);
    
    box-sizing: content-box;
}

.toggle-btn input[type="checkbox"] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

/* First toggle btn */

#_1st-toggle-btn span {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    border-radius: 40px;
    background: rgba(0,0,0,0.05);
    box-sizing: border-box;
    border: var(--border-size) solid rgba(0, 0, 0, 0.3);
    transition: 0.2s ease background-color, 0.1s ease opacity;
    box-shadow: -2px 0px 4px inset rgba(0, 0, 0, 0.1);
}

#_1st-toggle-btn span:after {
    content: '';
    position: absolute;
    top: var(--button-padd);
    width: calc(var(--button-dmt) - 2 * var(--border-size));
    height: calc(var(--button-dmt) - 2 * var(--border-size));
    border-radius: 50%;
    transition: 0.2s ease transform, 0.2s ease background-color;
}

#_1st-toggle-btn span:after {
    /*box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);*/
    background: #fff;
    box-sizing: border-box;
    transform: translate(var(--button-padd), 0px);
    z-index: 0;
}

#_1st-toggle-btn input[type="checkbox"]:checked+span {
    background-color: var(--bg-color);
    border: var(--border-size) solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 0px 4px inset rgba(0, 0, 0, 0.1);
}

#_1st-toggle-btn input[type="checkbox"]:active+span {
    
}

#_1st-toggle-btn input[type="checkbox"]:checked+span:after {
    background-color: #fff;
    border: none;
    transform: translate(calc(var(--width) - var(--button-dmt) - var(--button-padd)), 0px);
}
